PORT=3000
JWT_SECRET="your_jwt_secret_here" # e.g. crypto.randomBytes(64).toString('hex')
DATABASE_URL="postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<HOSTNAME>:<POSTGRES_PORT>/<DATABASE_NAME>"
NODE_ENV="development" # test, production, or development