PORT=3000
JWT_SECRET="your_jwt_secret_here" # e.g. crypto.randomBytes(64).toString('hex')
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database_name>"
NODE_ENV="development" # test, production, or development